{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="col-md-3">
    <img src="{{ cars.image_main.url }}" width="300px" height="150px" alt="">
</div>
<br>Dealer: {{ cars.dealer.name }}
<br>Dealers mail: {{ cars.dealer.email }}
<br>Brand: {{ cars.brand }}
<br>Category: {{cars.category}}

<br>Miles: {{ cars.miles }}
<br>Transmission: {{ cars.transmission }}
<br>Year: {{cars.year}}
<br> Power: {{ cars.power }} hp

<h4>Price:{{cars.price}} $</h4>

<br>{{ cars.description }}
<br>
<div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
  <div class="cs-btn-submit cs-color">
  <input type="submit" value="BUY">
  </div>
<br><br>

  
 
</div>
</div>


{% endblock content %}